.popup__input-error {
  color: #FF0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  visibility: hidden;
  min-height: 40px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
