.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-width: 880px;
	width: 100%;
}

@media screen and (max-width: 767px) {
	.profile {
		max-width: 282px;
		flex-direction: column;
		row-gap: 36px;
		align-items: center;
	}
}