.button_type_submit {
  background-color: rgba(0, 0, 0, 1);
  margin-top: 48px;
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.button_type_submit:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .button_type_submit {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
