.button_type_сlose {
  background-image: url(../../../images/buttons/button_close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 767px) {
  .button_type_сlose {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 20px;
    justify-self: end;
    width: 20px;
  }
}
