.button_type_edit {
  background-image: url(../../../images/buttons/button_edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-width: 1px;
  box-sizing: border-box;
  height: 24px;
  margin-top: 6px;
  width: 24px;
}

@media screen and (max-width: 767px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
  }
}
