.button_loading {
  pointer-events: none;
  content: '';
}
.button_loading::before {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  content: 'Сохранение...';
  z-index: 5;
  width: 100%;
  min-height: 50px;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
}
