.profile__info {
  align-items: center;
  color: #fff;
  display: grid;
  gap: 16px 18px;
  grid-template-columns: max-content 1fr;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .profile__info {
    gap: 14px 10px;
    max-width: 282px;
  }
}
