.button_type_сlose {
  background-image: url(../../../images/buttons/button_close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: calc(100% + 8px);
  left: calc(100% + 8px);
}

@media screen and (max-width: 767px) {
  .button_type_сlose {
    height: 20px;
    width: 20px;
    bottom: calc(100% + 16px);
    left: calc(100% - 20px);
  }
}
