.button_type_like {
  background-image: url(../../../images/like/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  box-sizing: border-box;
  height: 19px;
  margin: 0 21px 0 20px;
  min-width: 22px;
}

.button_type_like:hover {
  opacity: 0.5;
}

.button_type_like:active {
  background-image: url(../../../images/like/like_active.svg);
  opacity: 1;
}
