.button_type_avatar {
  border: none;
  position: relative;
}
.button_type_avatar:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, .8);
  background-image: url(../../../images/buttons/button_edit.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center center;
}
.button_type_avatar:hover .profile__icon-edit-avatar {
  visibility: visible;
  opacity: 1;
}
